<!DOCTYPE html>
<html>
<head>
    <title>TryItFrame</title>

    <script type=text/javascript src="{{url_for('static', filename='jquery-2.1.0.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='iframeheight.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
</head>
<body style="width: 100%; overflow-x: hidden; overflow-y: hidden">
<div id="uploadTab">
    Пожалуйста, загружайте только фото.<br>
    Вы можете загрузить изображение только в формате JPG.<br>

    <div style="text-align: center;">
        <img id="preview" src="#" alt="Preview can't displayed" style="max-width: 80%; height: auto; max-height: 350px; display: none;"/>
    </div>

    <div class="form-group">
        <input id="imgInput" type="file" accept="image/jpeg"/>

        <p class="help-block">
            Если вы хотите сделать фото с телефона или планшета, нажимте "Выбрать файл" (Сделать снимок - опция для ПК с веб-камерой).
            Сделать снимок, используя веб-камеру, можно только в Chrome, Mozilla Firefox или Opera последних версий.
        </p>
    </div>
    <div id="uploadButtons" style="text-align: center;">
        <button id="uploadButton" type="button" class="btn btn-primary" disabled="disabled"
                onclick="uploadClick();">Загрузить фото
        </button>
        <button id="toShotButton" type="button" class="btn btn-default" onclick="toShot();">Сделать снимок</button>
    </div>
</div>

<div id="shotTab" style="display: none;">
    <video id="video" style="width: 100%; height: auto; background-color: #AAA;" ></video>
    <p id="errormessage" style="display: none;"></p>
    <canvas id="canvas" style="display: none;"></canvas>
    <div id="shotButtons" style="text-align: center">
        <button id="shotButton" type="button" class="btn btn-primary" onclick="shotClick();">Сделать снимок</button>
        <button id="uploadPageButton" type="button" class="btn btn-default" onclick="toUpload();">Вернуться назад</button>
    </div>
    <div id="sendButtons" style="text-align: center; display: none;">
        <button id="saveButton" type="button" class="btn btn-primary" onclick="sendClick();">Отправить и продолжить
        </button>
        <button id="backButton" type="button" class="btn btn-default" onclick="shotAgainClick();">Попробовать еще раз</button>
    </div>
</div>

<div id="resultTab" style="display: none;">
    <div style="text-align: center;">
        <img id="result" src="#" alt="Result can't displayed" style="max-width: 80%; height: auto; max-height: 350px;"/><br>
        <h1>
            <small>Ваша оценка:</small>
            <label id="pts"></label>
            <small>%</small>
        </h1>
        <div id="stars"></div>

        <style type="text/css" scoped="scoped">
            #stars {
                width: auto !important;
            }
        </style>
    </div><br>

    <div id="commentPanel">
        <textarea id="comment" class="form-control"
                  style="width: 100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; max-width: 100%; height: 54px; min-height: 54px; max-height: 54px;"
                  placeholder="Вы можете оставить отзыв о работе этого сервиса"></textarea>

        <div class="input-group input-group">
            <input type="text" id="email" placeholder="Email/id ВКонтакте (не обязательно)" class="form-control input" style="border-top-left-radius: 0;">
            <span class="input-group-btn btn-group-custom" style="border-top-right-radius: 0;">
                <button id="submitButton" class="btn btn-primary" style="border-top-right-radius: 0;">Отправить</button>
            </span>
        </div>
    </div>
    <div id="thankYouPanel" style="display: none">
        <h2 style="text-align: center">Спасибо!</h2>
    </div>
    <br>

    <div id="resultButtons" style="text-align: center;">
        <button id="back3Button" type="button" class="btn btn-default" onclick="toUpload();">Попробовать еще раз</button>
    </div>
</div>

<div id="errorTab" style="display: none;">
    <div style="text-align: center;">
        <h2>
            <small>Ответ сервера:</small><br>
            <label id="errorMsg"></label><br>
            <small>Пожалуйста, попробуйте ещё раз</small>
        </h2>
    </div>

    <div id="errorButtons" style="text-align: center">
        <button id="back4Button" type="button" class="btn btn-default" onclick="toUpload();">Попробовать еще раз</button>
    </div>
</div>

<script type=text/javascript src="{{url_for('static', filename='parse-1.2.17.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery.raty.min.js')}}"></script>

<script language="JavaScript">
    var iframeExt = $.iframeHeightExternal();
    var video = document.querySelector('#video');
    var canvas = document.querySelector('#canvas');

    var myStream, dataURL, width = 1024, height = 768;
    var streaming = false;
    var s_name, p_name;

    $(function () {
        var applicationId = "BiixOUv8TBRRCc9PnScmyF2XMHRZhx2LfmvdqtvA";
        var javaScriptKey = "Sj5Vw02dRs3zI59caHeMQCEB9EXrNcsKPe0xkczc";
        Parse.initialize(applicationId, javaScriptKey);
        $('#submitButton').click(function () {
            sendComment();
        });
    });

    function runWebCam() {
        if (!streaming) {
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
            window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

            if (navigator.getUserMedia != undefined) {
                navigator.getUserMedia({video: true, audio: false}, function (stream) {
                    if (navigator.mozGetUserMedia) {
                        video.mozSrcObject = stream;
                    } else {
                        video.src = window.URL.createObjectURL(stream);
                    }
                    video.play();
                    myStream = stream;
                    $("#errormessage").hide();
                    $("#video").show();
                    $("#shotButton").show();
                    iframeExt.update();
                }, function () {
                    $("#video").hide();
                    $("#shotButton").hide();
                    $("#errormessage").text("Веб-камера не поддерживается в этом браузере, или вы используете веб-камеру в другом приложении.").show();
                    iframeExt.update();
                });

                video.addEventListener('canplay', function () {
                    if (!streaming) {
                        if (video.videoHeight != 0) {
                            width = video.videoWidth;
                            height = video.videoHeight;
                        } else {
                            console.log("native video resolution is undefined");
                        }
                        video.setAttribute('width', width);
                        video.setAttribute('height', height);
                        canvas.setAttribute('width', width);
                        canvas.setAttribute('height', height);
                        console.log("video resolution: " + width + "x" + height);
                        streaming = true;
                        iframeExt.update();
                        setTimeout(function() {
                            iframeExt.update();
                        }, 300);
                    }
                }, false);
            } else {
                $("#video").hide();
                $("#shotButton").hide();
                $("#errormessage").text("Ошибка: возможно, использование веб-камеры запрещено в этом браузере.").show();
                iframeExt.update();
            }
        } else {
            video.play();
        }
    }

    function stopWebCam() {
        video.pause();
    }

    $("#imgInput").change(function () {
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                uploadData = e.target.result;
                $('#preview').attr('src', uploadData);
            };
            reader.readAsDataURL(input.files[0]);
            $('#preview').show();
            disabledButton('uploadButton', '');
        } else {
            $('#preview').hide();
            disabledButton('uploadButton', 'disabled');
        }
        iframeExt.update();
    }

    function shotClick() {
        video.pause();
        $("#shotButtons").hide();
        $("#sendButtons").show();
        canvas.getContext('2d').drawImage(video, 0, 0, width, height);
    }

    function shotAgainClick() {
        video.play();
        $("#sendButtons").hide();
        $("#shotButtons").show();
    }

    function sendClick() {
        disabledButton('saveButton', 'disabled');
        dataURL = canvas.toDataURL("image/jpeg");
        send(dataURL);
    }

    function uploadClick() {
        disabledButton('uploadButton', 'disabled');
        send(uploadData);
    }

    function toUpload() {
        if ($("#preview").is(":visible")) {
            disabledButton('saveButton', '');
            $('#uploadButton').removeAttr("disabled");
        } else {
            $('#uploadButton').attr("disabled", "disabled");
        }

        $('#resultTab').hide();
        $('#shotTab').hide();
        $("#errorTab").hide();
        $('#uploadTab').show();
        iframeExt.update();

        stopWebCam();
        $('#thankYouPanel').hide();
        $('#commentPanel').show();
        $('#email').val('');
        $('#comment').val('');
    }

    function toShot() {
        runWebCam();
        disabledButton('saveButton', '');
        $("#sendButtons").hide();
        $("#shotButtons").show();

        $('#uploadTab').hide();
        $('#resultTab').hide();
        $("#errorTab").hide();
        $('#shotTab').show();
        iframeExt.update();
    }

    function send(imageURL) {
        var base64img = imageURL.substr(23);
        var imgData = '{"img": "\'' + base64img + '\'"}';
        $.ajax({
            url: 'api/v1/',
            dataType: 'json',
            data: imgData,
            contentType: 'application/json',
            type: 'POST',
            success: function (data) {
                console.log(data);
                showResult(data.p_name);
                s_name = data.s_name;
                p_name = data.p_name;
            },
            error: function (jqXHR) {
                showError($.parseJSON(jqXHR.responseText).error);
            }
        });
    }

    function showResult(imgURL) {
        $.ajax({
            url: 'api/v1/proc/' + imgURL,
            dataType: 'json',
            contentType: 'application/json',
            type: 'GET',
            success: function (data) {
                $("#result").attr('src', 'data:image/jpeg;base64,' + data.img);
                $("#pts").text(data.pts);
                $('#stars').raty();

                $("#shotTab").hide();
                $("#uploadTab").hide();
                $("#errorTab").hide();
                $("#resultTab").show();
                iframeExt.update();

                disabledButton('saveButton', '');
                disabledButton('uploadButton', '');
            }
        });
    }

    function showError(errorText) {
        $("#shotTab").hide();
        $("#uploadTab").hide();
        $("#resultTab").hide();
        $("#errorTab").show();

        disabledButton('saveButton', '');
        disabledButton('uploadButton', '');
        $("#errorMsg").text(errorText);
        iframeExt.update();
    }

    function sendComment() {
        var email = $('#email').val().trim();
        var message = $('#comment').val().trim();
        var stars = parseInt($("[name='score']").val());

        var SitePromoComment = Parse.Object.extend("SitePromoComment");
        var feedback = new SitePromoComment();
        feedback.set("email", email);
        feedback.set("comment", message);
        feedback.set("stars", stars);
        feedback.set("s_name", s_name);
        feedback.set("p_name", p_name);
        feedback.save().then(function () {
            thankYou();
        });
    }

    function thankYou() {
        var stars = parseInt($("[name='score']").val());
        $('#stars').raty({readOnly: true, score: stars});

        $('#commentPanel').hide();
        $('#thankYouPanel').show();
        iframeExt.update();
    }

    function disabledButton(button, state) {
        var text;
        var $button = $('#' + button);

        if (state == 'disabled') {
            text = 'Пожалуйста, подождите';
            $button.attr("disabled", "disabled");
        } else {
            if (button == 'uploadButton')
                text = 'Загрузить фото';
            else if (button == 'saveButton')
                text = 'Отправить и продолжить'
            $button.removeAttr("disabled");
        }
        $button.text(text);
    }
</script>
</body>
</html>
